manifest {
	author = "Christian Schudoma"
	defaultBranch = "main"
	description = "Pipeline for massive eggnog-mapper annotation"
	name = "eggnog_burst"
	nextflowVersion = ">=22.10.6"
	version = "3.11.0"
}

process {
	cache = "lenient"
	errorStrategy = { task.attempt <= 3 ? "retry" : "ignore" }
	maxRetries = 3
}

params {}
