params {

	//TODO: want to replace this with entry_points from setup.py
	script_dir = "/g/scb/bork/schudoma/mge_profile/scripts"

	// path to recombinase hmms
	recombinase_hmm_db = "/g/scb2/bork/khedkar/jumpAR/data_hmm/flank_analysis/10CV_analysis/mgeR_HMM_annotation/hmm/all_rec_68.hmm"

	// path to eggnog database
	eggnog_db =  "/g/scb/bork/schudoma/eggnog_burst/eggnog_db_5.0"

}

/* section below needs to be adjusted to local cluster */

executor {
	$slurm {
		queueSize = 50
	}
	$local {
		cpus = 1
		memory = '2.GB'
	}
}

process {
	withName: run_eggnog_mapper {
		executor = "slurm"
		cpus = 8
		memory = 8.GB
		queue = 'htc'
		time = '12h'
	}

}

